body{
    background: #232323;
    background-image: url("./img/4.jpg");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
}
.image{
    z-index: -10px;
    width:100%
    
}
.h1{
    color: #fff;
}


.stopwatch{
    width:90%;
    display: flex;
    flex-direction: column;
    max-width:600px;
    background-color:rgb(20, 20, 20);
    text-align: center;
    padding:40px 0;
    color:#fff;
    margin-top:50px;
    align-items: center;
    opacity: 0.7;  
}
#displayTime{
    opacity:1;
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 84px;
    margin-bottom: 60px;
}
.buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity:1;
}
button{
    
    padding: 5px 10px;
    box-shadow: none;
    background: solid;
    background-color: #000000;
    color:#fffcfc;
    border-color: #faf8f8;
    font-weight:200;
    font-size: medium;
   
}

#laps{
    width: 200px;
    background-color: #fff;
    width:90%;
    display: flex;
    flex-direction: column;
    max-width:600px;
   font-size: 25px;
   font-weight: 600;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:40px 0;
    color:black;
    
    align-items: center;
    opacity: 0.7;
}
#lapRecord{
    color:black
}

